* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  padding: 50px 150px;
  background: #baffb3;
}

.top-container {
  display: flex;
  justify-content: space-between;
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      fill: #fff;
      padding-right: 15px;
    }
    input {
      font-size: 16px;
      padding-left: 10px;
      border: 2px solid;
      width: 150px;
      height: 40px;
    }
  }
}
h1 {
  padding-top: 50px;
  padding-bottom: 5px;
}
.baslik-spor {
  h1 {
    display: flex;
    justify-content: center;
  }
  .spor {
    display: flex;
    justify-content: center;
    img {
      border-radius: 50px;
    }
  }
}
.futbol {
  border-radius: 10px;
  background-color: lighten($color: #baffb3, $amount: 8);
  display: flex;
  .futbolimg {
    border-radius: 10px;
    width: 500px;
  }
  nav {
    ul {
      li {
        box-shadow: 5px 5px #888888;
        border-radius: 15px;
        margin: 25px;
        background-color: #fff;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-top: 25px;
        transition: 200ms all;
        &:hover {
          scale: 1.05;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.triple-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  img {
    margin-right: 35px;
    border-radius: 25px;
    width: 300px;
    height: 120px;
    transition: 300ms all;
    &:hover {
      width: 320px;
      height: 140px;
    }
  }
}
.basketbol {
  border-radius: 10px;
  background-color: lighten($color: #baffb3, $amount: 8);
  display: flex;
  .basketbolimg {
    border-radius: 10px;
    width: 500px;
  }
  nav {
    ul {
      li {
        box-shadow: 5px 5px #888888;
        border-radius: 15px;
        margin: 25px;
        background-color: #fff;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-top: 25px;
        transition: 200ms all;
        &:hover {
          scale: 1.05;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.voleybol {
  border-radius: 10px;
  background-color: lighten($color: #baffb3, $amount: 8);
  display: flex;
  .voleybolimg {
    border-radius: 10px;
    width: 500px;
  }
  nav {
    ul {
      li {
        box-shadow: 5px 5px #888888;
        border-radius: 15px;
        margin: 25px;
        background-color: #fff;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-top: 25px;
        transition: 200ms all;
        &:hover {
          scale: 1.05;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.f1 {
  border-radius: 10px;
  background-color: lighten($color: #baffb3, $amount: 8);
  display: flex;
  .f1img {
    border-radius: 10px;
    width: 500px;
  }
  nav {
    ul {
      li {
        box-shadow: 5px 5px #888888;
        border-radius: 15px;
        margin: 25px;
        background-color: #fff;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-top: 25px;
        transition: 200ms all;
        &:hover {
          scale: 1.05;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}