@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: 0;
  }
}

html,
body {
  background: #fff5f5;
}
