@import "reset";
@import "https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap";

body {
  background-color: #303236;
  font-family: Muli;
}
.component--search {
  background: #3d3f43;
  border-radius: 15px;
  padding: 40px 45px;
  box-shadow: 0 15px 25px -20px #202125;
  form {
    position: relative;
    margin-bottom: 30px;
    .search-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 53px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
      height: 50px;
      width: 100%;
      background: #303236;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      color: #fff;

      &:focus {
        outline: 0;
      }
      &::placeholder {
        color: rgba(#fff, 0.5);
      }
      padding-left: 53px;
    }
  }

  h6 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
  ul {
    margin-top: 13px;
    li {
      a {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        padding: 7px 0;
        &:hover {
          color: #2ccdea;
          font-weight: bold;
        }
      }
    }
  }
}
.component--filter-search {
  background: #3d3f43;
  border-radius: 5px;
  form {
    .border {
      display: block;
      margin-top: 14px;
      margin-right: 5px;
      width: 1px;
      height: 40px;
      background: #303236;
      box-shadow: 0 0 17px 1px #202125;
    }
    height: 68px;
    margin: 14px;
    display: flex;
    .input {
      display: flex;
      align-items: center;
      flex: 1;
      .search-icon {
        width: 50px;
        text-align: center;
      }
      input {
        width: 100%;
        background-color: transparent;
        border: none;
        height: 40px;
        font-size: 16px;
        color: #fff;
        &:focus {
          outline: 0;
        }
        &::placeholder {
          color: rgba(#fff, 0.5);
        }
      }
    }
    ul {
      display: flex;
      margin-left: 15px;
      align-items: center;
      li {
        label {
          input {
            display: none;
            &:checked + .text {
              background-color: #303236;
              color: #2ccdea;
            }
          }
          .text {
            display: block;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #fff;
            padding: 0 25px;
            cursor: pointer;
            border-radius: 40px;
            transition: 400ms background-color, 400ms color;
          }
        }
      }
    }
  }
}
.component--filter {
  background: #3d3f43;
  border-radius: 15px;
  padding: 40px 45px;
  box-shadow: 0 15px 25px -20px #202125;
  form {
    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        .key {
          width: 100px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
        }
        .value {
          flex: 1;
          input,
          select {
            width: 100%;
            height: 50px;
            background: #303236;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            color: #fff;
            padding: 0 20px;

            &:focus {
              outline: 0;
            }
            &::placeholder {
              color: rgba(#fff, 0.5);
            }
          }
          .selectbox {
            position: relative;
            background: #303236;
            display: block;
            border-radius: 5px;
            height: 50px;
            img {
              position: absolute;
              top: 50%;
              right: 25px;
              transform: translateY(-50%);
            }
            select {
              cursor: pointer;
              background: transparent;
              position: relative;
              appearance: none;
            }
          }
        }
        &.filter-button {
          margin-top: 40px;
          border-top: 1px solid #303236;
          padding-top: 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        a {
          color: rgba(#fff, 0.5);
          text-decoration: none;
          font-size: 16px;
          &:hover {
            color: #fff;
          }
        }
        button {
          height: 50px;
          padding: 0 30px;
          display: flex;
          align-items: center;
          background: linear-gradient(to right, #31a5d9, #1e96a0);
          font-size: 16px;
          color: #fff;
          border: none;
          border-radius: 50px;
          box-shadow: 0px 7px 10px 0px rgba(#2b2d30, 0.5);
          cursor: pointer;
        }
      }
    }
  }
}
