@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  outline: 0;
}

html,
body {
  height: 100%;
}
