@import "reset";
@import "https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap";

body {
  font-family: "Merriweather", serif;
  background-color: #1e1f33;
}

.component {
  &--background {
    z-index: 1;
    position: absolute;
    width: 432px;
    height: 253px;
    background: #e84172;
    left: 733px;
    top: 507px;
  }
  &--plan {
    z-index: 2;
    position: absolute;
    left: 383px;
    top: 245px;
    background: #262742;
    margin-bottom: 50px;
    padding: 50px;
    width: 476px;
    height: 308px;
    border-radius: 10px;
    h3 {
      font-size: 22px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 30px;
    }
    h1 {
      color: #fff;
      font-size: 36px;
      margin-bottom: 40px;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      button {
        width: 183px;
        cursor: pointer;
        border-radius: 5px;
        height: 53px;
        border: none;
        color: #fff;
        background-color: #e84172;
        transition: 300ms background-color;
        &:hover {
          background-color: darken(#e84172, 10%);
        }
      }
      a {
        color: #fff;
        font-size: 16px;
        margin-left: 33px;
        transition: 300ms color;
        &:hover {
          color: darken(#fff, 50%);
        }
      }
    }
  }
  &--history {
    z-index: 2;
    position: absolute;
    left: 1093px;
    top: 200px;
    padding: 50px;
    width: 531px;
    height: 521px;
    background: #262742;
    border-radius: 10px;
    h3 {
      font-weight: 700;
      font-size: 22px;
      color: #fff;
      margin-bottom: 40px;
    }
    ul {
      margin-bottom: 40px;
      li {
        border-radius: 5px;
        transition: 300ms all;
        padding: 15px;
        width: 451px;
        height: 50px;
        color: #fff;
        &:hover {
          background-color: #1e1f33;
        }
        &:hover a {
          visibility: visible;
          color: #ff4578;
        }
        span {
          margin-right: 65px;
          font-size: 16px;
          font-weight: 400;
        }
        a {
          transition: 100ms all;
          text-decoration: none;
          color: transparent;
          visibility: hidden;
        }
      }
    }
    button {
      width: 183px;
      height: 53px;
      margin-left: 10px;
      background-color: #262742;
      color: #fff;
      font-size: 16px;
      border: 1px solid #6163aa;
      cursor: pointer;
      &:hover {
        background-color: lighten(#262742, 10%);
      }
    }
  }
}
